@model IEnumerable<Model.View.Personal2>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Theme3.cshtml";

    double countItem = Model.Count();

}
<div class="row">
    <div class="col-md-12">
        <div class="card card-success card-outline">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-clipboard"></i> DANH SÁCH NHÂN VIÊN SINH NHẬT THÁNG @ViewBag.month (@countItem người)</h3>

                <div class="card-tools">

                    <div class="btn-group" style="height:40px">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-file-excel-o"></i>
                        </button>
                        <div class="dropdown-menu float-right" role="menu">
                            <a class="dropdown-item" href="/Personal/BirthDay?month=@DateTime.Now.Month">DS Sinh Nhật Tháng</a>
                            <a class="dropdown-item" href="/Personal/HumanResource?month=@DateTime.Now.Month&year=@DateTime.Now.Year">Tăng Giảm Nhân Sự</a>
                            <a class="dropdown-item" href="/Personal/Report1">Biến Động Nhân Sự</a>
                            <a class="dropdown-item" href="/Personal/ReportLeave/?year=@DateTime.Now.Year&month=@DateTime.Now.AddMonths(-1).Month">Thống kê nhân sự nghỉ việc</a>
                            <a class="dropdown-item" href="/Personal/AcademicLevel">Trình Độ Học Vấn</a>
                            <a class="dropdown-item" href="/Personal/GroupID2">Thống Kê Phân Nhóm</a>
                            <a class="dropdown-item" href="/Personal/GroupID">Thống Kê Bộ Phận</a>
                            <a class="dropdown-item" href="/Personal/ReportCompetence">Thống Kê Năng Lực</a>
                            <a class="dropdown-item" href="/Personal/ExportInputData" target="_blank">InputData</a>
                            <a class="dropdown-item" href="/Personal/ReportToolUseToBe">Công Cụ Dụng Cụ</a>
                        </div>
                    </div>
                    <div style="float:left">
                        @using (Html.BeginForm("BirthDay", "Personal", FormMethod.Get))
                        {
                            <div class="input-group " style="width: 300px;">
                                <input type="number" value="@ViewBag.month" name="month" max="12" min="1" step="1" class="form-control float-right" style="background: #e6c5c8; font-weight: bold;">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã NV</th>
                                <th>Họ Tên / Ngày vào làm</th>
                                <th>Bộ phận</th>
                                <th>Ngày Sinh</th>
                                <th width="250px">Ký Tên</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">
                                    <td>@item.ID</td>
                                    <td>
                                        @item.Name
                                    <p>@item.StartDate.Value.ToString("dd/MM/yyyy")</p>
                                </td>
                                <td>
                                    @item.GroupName

                            </td>
                            @if (item.BirthDay == null)
                            {
                                <td>chưa có</td>
                            }
                            else
                            {
                                <td>@item.BirthDay.Value.ToString("dd/MM/yyyy")</td>
                            }
                            <td> </td>


                        </tr>

                            }


                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>
