@model Model.EF.Personal

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Theme3.cshtml";
    string maHDLD = DateTime.Now.DayOfYear + "-" + DateTime.Now.Year + "-HDLD-";

    List<SelectListItem> phanxuong = new List<SelectListItem>();
    phanxuong.Add(new SelectListItem
         {
             Text = "Xưởng 1",
             Value = "X1",
             Selected = true
         });

    phanxuong.Add(new SelectListItem
         {
             Text = "Xưởng 2",
             Value = "X2",

         });
    phanxuong.Add(new SelectListItem
    {
        Text = "Xưởng 3",
        Value = "X3",
    });
    List<SelectListItem> nghicd = new List<SelectListItem>();
    nghicd.Add(new SelectListItem
    {
        Text = "",
        Value = "",
        Selected = true
    });

    nghicd.Add(new SelectListItem
    {
        Text = "Nghỉ Không Lương",
        Value = "Nghỉ Không Lương",

    });
    nghicd.Add(new SelectListItem
    {
        Text = "Nghỉ Thai Sản",
        Value = "Nghỉ Thai Sản",
    });
    List<SelectListItem> capbac = new List<SelectListItem>();
    List<SelectListItem> listVT = new List<SelectListItem>();
    capbac.Add(new SelectListItem
         {
             Text = "Chưa cập nhật thông tin",
             Value = "99",
             Selected = true
         });

    capbac.Add(new SelectListItem
         {
             Text = "Nhóm 1 - Giám đốc/Phó Giám đốc",
             Value = "1",

         });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 2 - Kế toán trưởng/Chuyên gia cấp cao",
        Value = "2",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 3 - Trưởng phòng",
        Value = "3",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 4 - Phó phòng/Chuyên viên 2",
        Value = "4",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 5 - Kỹ sư/Cử nhân/Chuyên viên 1 (có quyết định làm quản lý)",
        Value = "5",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 6 - Kỹ thuật viên/NV nghiệp vụ (Đại học)",
        Value = "6",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 7 - Kỹ thuật viên/NV nghiệp vụ/ Tổ trưởng tài xế (Cao đẳng/ Trung cấp/ có quyết định làm quản lý)",
        Value = "7",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 8 - Kỹ thuật viên/NV nghiệp vụ/ Tổ trưởng Bảo Vệ (Cao đẳng/Trung cấp)",
        Value = "8",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 9 - Công nhân tay nghề (Có quyết định làm quản lý): Tổ trưởng/ nhóm trưởng QA/QC hoặc TT các chuyền)",
        Value = "9",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 10 -Công nhân tay nghề (Tài xế, CN các chuyền, CN QA/QC, Bảo vệ, Phụ kho)",
        Value = "10",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 11 - Lao động phổ thông (tạp vụ, phụ xe)",
        Value = "11",
    });
}
@section jsFooter
{
    <script src="/Assets/plugin/ckfinder/ckfinder.js"></script>
    <script>
        $(function () {

            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-red',
                radioClass: 'iradio_flat-red'
            })
        })
    </script>
    <script>
        $(document).ready(function () {
          
            ////////////// Thời gian ////////////
            $(function () {
                $('#hethsds').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
                $('#enddate1').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
                $('#startdate1').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
                $('#datetimepicker1').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
                $('#datetimepicker2').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
                $('#datetimepicker3').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
                $('#datetimepicker4').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
                $('#datetimepicker5').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
                $('#datetimepicker6').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
                $('#datetimepicker7').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
                $('#date').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
                $('#dateup').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
                $('#datead').datetimepicker({
                    format: 'MM/DD/YYYY'
                });
            });
            ///////////////////////////////////////
           
        });
    </script>
    <script>
        $(function () {

            $('.select2').select2()
            $(".date1").datepicker(
                {
                    dateFormat: 'mm/dd/yy',
                    changeMonth: true,
                    changeYear: true,
                    numberOfYears: 1,
                    numberOfMonths: 1,
                    yearRange: "-90:+10",
                    onSelect: function (selectedDate) {
                        // we can write code here
                    }
                });
            $(".date2").datepicker();
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

        })
    </script>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>

<link href="~/Assets/js/jquery-ui.css" rel="stylesheet" />

<div class="row">

    <!-- /.col -->
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Thông tin nhân viên</h3>
            </div>
            <div class="card-body">
                <div class="tab-content">

                    <div class="row">
                        @using (Html.BeginForm("Create", "Personal", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-12">
                                <div class="row">

                                    <div class='col-md-2'>
                                        <label class="control-label">Mã NV</label>
                                        @Html.TextBoxFor(model => model.ID, new { @class = "form-control" })
                                    </div>

                                    <div class='col-md-4'>
                                        <label class="control-label">Họ Tên</label>
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    </div>
                                    <div class='col-md-2'>
                                        <label class="control-label">Nhóm</label>
                                        @Html.DropDownListFor(model => model.GroupID, null, new { @class = "form-control select2", @style = "width: 100%;" })
                                    </div>
                                    <div class='col-md-2'>
                                        <label class="control-label">Xưởng</label>
                                        @Html.DropDownListFor(model => model.Factory, phanxuong, new { @class = "form-control select2", @style = "width: 100%;" })
                                    </div>
                                    <div class='col-md-2'>
                                        <label class="control-label">Giới Tính</label>
                                        <p>
                                            <span style="padding-right:10px;"> @Html.RadioButtonFor(m => m.Sex, "true") Nam </span>
                                            <span> @Html.RadioButtonFor(m => m.Sex, "false") Nữ</span>
                                        </p>
                                    </div>
                                    <div class='col-md-1'>
                                        <label class="control-label">Dân Tộc</label>
                                        @Html.TextBoxFor(model => model.Nation, new { @class = "form-control" })
                                    </div>


                                    <div class='col-md-3'>
                                        <label class="control-label">Vị Trí</label>
                                        @Html.DropDownListFor(model => model.IDPosition, null, new { @class = "form-control select2", @style = "width: 100%;" })
                                    </div>
                                    <div class='col-md-2'>
                                        <label>Ngày Vào Làm</label>
                                        <div class="input-group mb-3">
                                            <input autocomplete="off" class="date1 form-control" id="StartDate" name="StartDate" type="text" value="">
                                            <div class=" input-group-append">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-md-2'>
                                        <label>Ngày Hết TViệc</label>
                                        <div class="input-group mb-3">
                                            <input autocomplete="off" class="date1 form-control" id="EndTryDate" name="EndTryDate" type="text" value="">
                                            <div class=" input-group-append">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-md-2'>
                                        <label>Ngày Sinh</label>
                                        <div class="input-group mb-3">
                                            <input autocomplete="off" class="date1 form-control" id="Birthday" name="Birthday" type="text" value="">
                                            <div class=" input-group-append">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-md-2'>
                                        <br />
                                        <label>
                                            @Html.CheckBoxFor(model => model.OnlyYear, new { @class = "flat-red" })
                                            Chỉ có năm sinh
                                        </label>
                                    </div>

                                    <div class='col-md-3'>
                                        <label class="control-label">Điện Thoại</label>
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                    </div>
                                    <div class='col-md-3'>
                                        <label class="control-label">Số CMND</label>
                                        @Html.TextBoxFor(model => model.CMNDCode, new { @class = "form-control" })
                                    </div>
                                    <div class='col-md-3'>
                                        <label>Ngày Cấp CMND</label>
                                        <div class="input-group mb-3">
                                            <input autocomplete="off" class="date1 form-control" id="CMNDDate" name="CMNDDate" type="text" value="">
                                            <div class=" input-group-append">
                                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-md-3'>
                                        <label class="control-label">Nơi Cấp CMND</label>
                                        @Html.DropDownListFor(model => model.CMNDPlace, null, new { @class = "form-control select2", @style = "width: 100%;" })
                                    </div>
                                    <div class='col-md-4'>
                                        <label class="control-label">Email</label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    </div>
                                    <div class='col-md-4'>
                                        <label class="control-label">Chuyên ngành - chuyên môn</label>
                                        @Html.TextBoxFor(model => model.Specialize, new { @class = "form-control", @placeholder = "chuyên ngành đã học. vd:hóa hữu cơ...." })
                                    </div>
                                    <div class='col-md-4'>
                                        <label class="control-label">Thông tin liên hệ khẩn cấp</label>
                                        @Html.TextBoxFor(model => model.InfoHotline, new { @class = "form-control", @placeholder = "tên + sdt người thân" })
                                    </div>
                                    <div class='col-md-3'>
                                        <label class="control-label">Cấp Bậc</label>
                                        @Html.DropDownListFor(model => model.GroupID2, capbac, new { @class = "form-control" })
                                    </div>
                                    <div class='col-md-6'>
                                        <label class="control-label">Địa Chỉ</label>
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                    </div>
                                    <div class='col-md-3'>
                                        <label class="control-label">Thành Phố</label>
                                        @Html.DropDownListFor(model => model.City, null, new { @class = "form-control select2", @style = "width: 100%;" })
                                    </div>
                                    <div class='col-md-12'>
                                        <label class="control-label">Địa chỉ tạm trú</label>
                                        @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
                                    </div>
                                    <div class='col-md-3'>
                                        <label class="control-label">Trình Độ</label>
                                        @Html.DropDownListFor(model => model.AcademicLevel, null, new { @class = "form-control" })
                                    </div>
                                    <div class='col-md-3'>
                                        <label class="control-label">Mã Số Thuế</label>
                                        @Html.TextBoxFor(model => model.TaxCode, new { @class = "form-control" })
                                    </div>
                                    <div class='col-md-3'>
                                        <label class="control-label">Người Giới Thiệu</label>
                                        @Html.TextBoxFor(model => model.Presenter, new { @class = "form-control" })
                                    </div>
                                    <div class='col-md-3'>
                                        <label class="control-label">Số Sổ BHXH</label>
                                        @Html.TextBoxFor(model => model.BHXHCode, new { @class = "form-control" })
                                    </div>


                                    <div class='col-md-4'>
                                        <label class="control-label">Hình đại diện</label>
                                        <div class='input-group'>
                                            @Html.TextBoxFor(model => model.Image, new { @class = "form-control", @style = "background: #f9d7d4;", @placeholder = "chọn hình nhân viên" })
                                            <div class=" input-group-append">
                                                <span class="input-group-text">
                                                    <a id="btnSelectImage" href="#"><span class="fa fa-paperclip"></span></a>
                                                </span>                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-md-2'>
                                        <label class="control-label">Số YC Tuyển</label>
                                        @Html.TextBoxFor(model => model.IDRecuiment, new { @class = "form-control", @type = "number" })
                                    </div>
                                    <div class='col-md-3'>
                                        <label class="control-label">Nghỉ Chế Độ</label>
                                        @Html.DropDownListFor(model => model.BreakMode, nghicd, new { @class = "form-control" })
                                    </div>
                                    <script>
                                        $('#btnSelectImage').on('click', function (e) {
                                            e.preventDefault();
                                            var finder = new CKFinder();
                                            finder.selectActionFunction = function (url) {
                                                $('#Image').val(url);
                                                $('#btnViewFile').attr("href", $('#Image').val());
                                            };
                                            finder.popup();
                                        })
                                    </script>
                                </div>
                                <div class="row">
                                    <div class='col-md-12'>
                                        <label class="control-label">Ghi Chú</label>
                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @rows = "5" })
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="nutsave btn btn-primary" onclick="openNav()">Lưu thông tin</button>     
                                </div>
                               
                            </div>
                        }
                    </div>
                    <!-- /.post -->


                </div>
            </div><!-- /.card-body -->
        </div>
    </div>
   
</div>

