@model Model.EF.Personal

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Theme1.cshtml";
    string maHDLD = DateTime.Now.DayOfYear + "-" + DateTime.Now.Year + "-HDLD-";
    List<Model.EF.HDLD> listHDLD = ViewBag.listHDLD;
    List<Model.EF.Competence> listSkill = ViewBag.listSkill;
    List<Model.View.CompetenceView1> listCompetence = ViewBag.listCompetence;
    List<Model.EF.PersonalTool> listTool = ViewBag.listTool;
    List<Model.View.TrainingView1> listTraining = ViewBag.listTraining;
    List<SelectListItem> capbac = new List<SelectListItem>();
    List<SelectListItem> listVT = new List<SelectListItem>();
    capbac.Add(new SelectListItem
         {
             Text = "Chưa cập nhật thông tin",
             Value = "99",
             Selected = true
         });

    capbac.Add(new SelectListItem
         {
             Text = "Nhóm 1 - Giám đốc/Phó Giám đốc",
             Value = "1",

         });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 2 - Kế toán trưởng/Chuyên gia cấp cao",
        Value = "2",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 3 - Trưởng phòng",
        Value = "3",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 4 - Phó phòng/Chuyên viên 2",
        Value = "4",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 5 - Kỹ sư/Cử nhân/Chuyên viên 1 (có quyết định làm quản lý)",
        Value = "5",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 6 - Kỹ thuật viên/NV nghiệp vụ (Đại học)",
        Value = "6",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 7 - Kỹ thuật viên/NV nghiệp vụ/ Tổ trưởng tài xế (Cao đẳng/ Trung cấp/ có quyết định làm quản lý)",
        Value = "7",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 8 - Kỹ thuật viên/NV nghiệp vụ/ Tổ trưởng Bảo Vệ (Cao đẳng/Trung cấp)",
        Value = "8",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 9 - Công nhân tay nghề (Có quyết định làm quản lý): Tổ trưởng/ nhóm trưởng QA/QC hoặc TT các chuyền)",
        Value = "9",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 10 -Công nhân tay nghề (Tài xế, CN các chuyền, CN QA/QC, Bảo vệ, Phụ kho)",
        Value = "10",
    });
    capbac.Add(new SelectListItem
    {
        Text = "Nhóm 11 - Lao động phổ thông (tạp vụ, phụ xe)",
        Value = "11",
    });
}
@section jsFooter
{
    <script src="/Scripts/ChangeStatusPersonal.js"></script>
    <script src="/Scripts/UpdateCompetence.js"></script>
    <script src="/Scripts/AddCompetence.js"></script>
    <script src="/Scripts/FindNameVT2.js"></script>
    <script src="/Scripts/CreatePersonalTool.js"></script>
    <script src="/Scripts/DeletePersonalTool.js"></script>
    <script src="/Scripts/EditPersonalTool.js"></script>
    <script>
            $(document).ready(function () {
                ////////////// Edit Tool//////////////
                $(".edittool").click(function () {
                    var manvs = $(this).attr("data-idper");
                    $('#manv').val(manvs);
                    $('.btnedittool').attr("data-id", $(this).attr("data-id"));
                    $('.btnedittool').attr("data-manv", manvs);
                });
                $("#manv").blur(function () {
                    $('.btnedittool').attr("data-manv", $('#manv').val());
                });
                $("#hethsd").blur(function () {
                    $('.btnedittool').attr("data-hethsd", $('#hethsd').val());
                });
                $("#ghichu").blur(function () {
                    $('.btnedittool').attr("data-ghichu", $('#ghichu').val());
                });
                ///////////////////////////////////////
                ////////////// Delete Tool ////////////
                $(".deletetool").click(function () {
                    $('.btndeletetool').attr("data-id", $(this).attr("data-id"));

                });
                ///////////////////////////////////////
                ////////////// Add Tool ////////////
                $("#quantity1").blur(function () {
                    $('#createrr').attr("data-quantity", $('#quantity1').val());
                });
                $("#startdate1").blur(function () {
                    $('#createrr').attr("data-startdate", $('#startdate1').val());
                });
                $("#enddate1").blur(function () {
                    $('#createrr').attr("data-enddate", $('#enddate1').val());
                });
                $("#note1").blur(function () {
                    $('#createrr').attr("data-note", $('#note1').val());
                });
                $("#itemid").blur(function () {
                    $('#createrr').attr("data-itemname", $("#itemid option:selected").text());
                });
                $("#itemid").blur(function () {
                    $('#createrr').attr("data-idite", $('#itemid').val());
                });
                ///////////////////////////////////////
                ////////////// Thời gian ////////////
                $(function () {
                    $('#hethsds').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('#enddate1').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('#startdate1').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('#datetimepicker1').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('#datetimepicker2').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('#datetimepicker3').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('#datetimepicker4').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('#datetimepicker5').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('#datetimepicker6').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('#datetimepicker7').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('#date').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('#dateup').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('#datead').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                });
                ///////////////////////////////////////
                ////////////// Thong tin nghi viec ////////////
                $("#reason").blur(function () {
                    $('#createBB').attr("data-reason", $('#reason').val());
                });
                $("#enddate").blur(function () {
                    $('#createBB').attr("data-enddate", $('#enddate').val());
                });
                ///////////////////////////////////////
                ////////////// Them Thong tin Nang Luc ////////////
                var today = new Date();
                $('#completedate').val(today.getMonth() + "/" + today.getDate() + "/" + today.getFullYear());
                $("#levels").blur(function () {
                    $('#createCC').attr("data-levels", $('#levels').val());
                });
                $("#completedate").blur(function () {
                    $('#createCC').attr("data-completedate", $('#completedate').val());
                });
              
                });
                ///////////////////////////////////////
                ////////////// Cap Nhat Thong tin Nang Luc ////////////
                $(".themgia").click(function () {
                $('#createCC').attr("data-idcom", $(this).attr("data-idcom"));
                $('#createCC').attr("data-levels", $(this).attr("data-levels"));
                $('#createCC').attr("data-completedate", "1/1/2001");

                $('#completedates').val(today.getMonth() + "/" + today.getDate() + "/" + today.getFullYear());
                $("#idcoms").blur(function () {
                    $('#createDD').attr("data-idcoms", $('#idcoms').val());
                });
                $("#levelss").blur(function () {
                    $('#createDD').attr("data-levelss", $('#levelss').val());
                });
                $("#completedates").blur(function () {
                    $('#createDD').attr("data-completedates", $('#completedates').val());
                });
                $(".themkynang").click(function () {
                    $('#createDD').attr("data-idcoms", $('#idcoms').val());
                    $('#createDD').attr("data-levelss", $('#levelss').val());
                    $('#createDD').attr("data-completedates", $('#completedates').val());
                });
                ///////////////////////////////////////
            });
        </script>

}
<script>
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>



<!--------------------------Thông Tin Cơ Bản của Nhân Viên ------------------------------->
<div class="row">
    @using (Html.BeginForm("Edit", "Personal", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="col-md-12">
            <p>Người tạo: @Model.CreateBy (@Model.CreateDate)</p>
            <div class="panel panel-primary">

                <div class="panel-heading">
                    Thông Tin Nhân Viên @if (Model.Status == false)
                    { <span>đã nghỉ</span> }
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="row">
                            @if (Model.Status == false)
                            { <div class="alert alert-danger">
                                <strong>Đã nghỉ việc</strong> @if (Model.EndDate != null)
                                {<span>vào ngày @Model.EndDate.Value.ToString("dd/MM/yyyy")</span> } @if (Model.ReasonQuit != "")
                                {<span> - Lý do: @Model.ReasonQuit</span> }
                            </div>
                            }
                            else
                            {
                                if (listHDLD.Count < 1)
                                {
                                    <div class="alert alert-danger">
                                        <strong>Chưa có Hơp Đồng Lao Động</strong> cần làm ngay
                                    </div>
                                }
                                else
                                {
                                    if (listHDLD.FirstOrDefault().EndDate == null)
                                    {
                                        <div class="alert alert-success">
                                            <strong>Đã có Hơp Đồng Lao Động không xác định thời hạn</strong> cần bổ sung khi được tăng lương
                                        </div>
                                    }
                                    else
                                    {
                                        if (listHDLD.FirstOrDefault().EndDate.Value > DateTime.Now)
                                        {
                                            <div class="alert alert-success">
                                                <strong>Đã có Hơp Đồng Lao Động và chưa hết hạn</strong> cần bổ sung khi được tăng lương
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="alert alert-danger">
                                                <strong>Hơp Đồng Lao Động đã hết hạn</strong> cần làm ngay
                                            </div>
                                        }
                                    }

                                }
                            }
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class='col-md-2'>
                                    <label class="control-label">Mã NV</label>
                                    <div style="display:none"> @Html.LabelFor(model => model.ID, new { @class = "form-control" })</div><p>@Model.ID</p>
                                </div>
                                <div class='col-md-4'>
                                    <label class="control-label">Họ Tên</label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                </div>
                                <div class='col-md-3'>
                                    <label class="control-label">Nhóm</label>
                                    @Html.DropDownListFor(model => model.GroupID, null, new { @class = "form-control" })
                                </div>
                                <div class='col-md-3'>
                                    <label class="control-label">Giới Tính</label>
                                    <p>
                                        <span style="padding-right:10px;"> @Html.RadioButtonFor(m => m.Sex, "true") Nam </span>
                                        <span> @Html.RadioButtonFor(m => m.Sex, "false") Nữ</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-md-3'>
                                    <label class="control-label">Số YC tuyển dụng</label>
                                    @Html.TextBoxFor(model => model.IDRecuiment, new { @class = "form-control", @type = "number" })
                                </div>
                                <div class='col-md-3'>
                                    <label class="control-label">Vị Trí</label>
                                    @Html.DropDownListFor(model => model.IDPosition, null, new { @class = "form-control" })
                                </div>
                                <div class='col-md-2'>
                                    <label class="control-label">Ngày Vào Làm</label>
                                    <div class='input-group date' id='datetimepicker3'>
                                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", @placeholder = "chưa có" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-2'>
                                    <label class="control-label">Ngày Hết Thử Việc</label>
                                    <div class='input-group date' id='datetimepicker4'>
                                        @Html.TextBoxFor(model => model.EndTryDate, new { @class = "form-control", @placeholder = "chưa có" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-2'>
                                    <label class="control-label">Ngày Sinh</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control", @placeholder = "chưa có" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-md-3'>
                                    <label class="control-label">Điện Thoại</label>
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                </div>
                                <div class='col-md-3'>
                                    <label class="control-label">Số CMND</label>
                                    @Html.TextBoxFor(model => model.CMNDCode, new { @class = "form-control" })
                                </div>
                                <div class='col-md-3'>
                                    <label class="control-label">Ngày Cấp CMND</label>
                                    <div class='input-group date' id='datetimepicker2'>
                                        @Html.TextBoxFor(model => model.CMNDDate, new { @class = "form-control", @placeholder = "chưa có" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <label class="control-label">Nơi Cấp CMND</label>
                                    @Html.DropDownListFor(model => model.CMNDPlace, null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-md-4'>
                                    <label class="control-label">Email</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control"})
                                </div>
                                <div class='col-md-4'>
                                    <label class="control-label">Chuyên ngành - chuyên môn</label>
                                    @Html.TextBoxFor(model => model.Specialize, new { @class = "form-control", @placeholder = "chuyên ngành đã học. vd:hóa hữu cơ...." })
                                </div>
                                <div class='col-md-4'>
                                    <label class="control-label">Thông tin liên hệ khẩn cấp</label>
                                    @Html.TextBoxFor(model => model.InfoHotline, new { @class = "form-control", @placeholder = "tên + sdt người thân" })
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-md-3'>
                                    <label class="control-label">Cấp Bậc</label>
                                    @Html.DropDownListFor(model => model.GroupID2, capbac, new { @class = "form-control" })
                                </div>
                                <div class='col-md-6'>
                                    <label class="control-label">Địa Chỉ</label>
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                </div>
                                <div class='col-md-3'>
                                    <label class="control-label">Thành Phố</label>
                                    @Html.DropDownListFor(model => model.City, null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class='col-md-12'>
                                <label class="control-label">Địa chỉ tạm trú</label>
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                            </div>
                            <div class="row">
                                <div class='col-md-3'>
                                    <label class="control-label">Trình Độ</label>
                                    @Html.DropDownListFor(model => model.AcademicLevel, null, new { @class = "form-control" })
                                </div>
                                <div class='col-md-3'>
                                    <label class="control-label">Dân Tộc</label>
                                    @Html.TextBoxFor(model => model.Nation, new { @class = "form-control" })
                                </div>
                                <div class='col-md-3'>
                                    <label class="control-label">Người Giới Thiệu</label>
                                    @Html.TextBoxFor(model => model.Presenter, new { @class = "form-control" })
                                </div>
                                <div class='col-md-3'>
                                    <label class="control-label">Số Sổ BHXH</label>
                                    @Html.TextBoxFor(model => model.BHXHCode, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-md-3'>
                                    <label class="control-label">Mã Số Thuế</label>
                                    @Html.TextBoxFor(model => model.TaxCode, new { @class = "form-control" })
                                </div>
                                <div class='col-md-3'>
                                    <label class="control-label">Hình đại diện</label>
                                    <div class='input-group date' id='datetimepicker2'>
                                        @Html.TextBoxFor(model => model.Image, new { @class = "form-control", @style = "background: #f9d7d4;", @placeholder = "điền số hồ sơ giấy, hoặc up file CV" })
                                        <span class="input-group-addon">
                                            <a id="btnSelectImage" href="#"><span class="glyphicon glyphicon-paperclip"></span></a> <span>....</span>  <a id="btnViewFile" target="_blank" href="@Model.Image"><span class="glyphicon glyphicon-file"></span></a>
                                        </span>
                                    </div>
                                </div>


                                <script>
                                    $('#btnSelectImage').on('click', function (e) {
                                        e.preventDefault();
                                        var finder = new CKFinder();
                                        finder.selectActionFunction = function (url) {
                                            $('#Image').val(url);
                                            $('#btnViewFile').attr("href", $('#Image').val());
                                        };
                                        finder.popup();
                                    })


                                </script>
                            </div>
                            <div class="row">
                                <div class='col-md-12'>
                                    <label class="control-label">Ghi Chú</label>
                                    @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @rows = "5" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-4">
                <input type="submit" value="Cập Nhật" class="btn btn-primary" />
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Nghỉ Việc </button>
            </div>
        </div>
        }
</div>
 <!--------------------------Thông Tin Cơ Bản của Nhân Viên ------------------------------->
 <!--------------------------Thông Tin Nâng Cao của Nhân Viên ------------------------------->  
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Thông tin nâng cao
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab" aria-expanded="true">Hợp Đồng</a>
                    </li>
                    <li class="">
                        <a href="#profile" data-toggle="tab" aria-expanded="false">Kỹ Năng</a>
                    </li>
                    <li>
                        <a href="#messages" data-toggle="tab">Công Cụ Dụng Cụ</a>
                    </li>
                    <li>
                        <a href="#daotao" data-toggle="tab">Đào Tạo</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!--------------------------Thông Tin HDLD của Nhân Viên ------------------------------->
                    <div class="tab-pane fade active in" id="home">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Số HDLD</th>
                                        <th>Ngày bắt đầu</th>
                                        <th>Ngày kết thúc</th>
                                        <th>Loại hợp đồng</th>
                                        <th>In</th>
                                        <th>Đã Ký</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in listHDLD)
                                {
                                        <tr id="row_@item.ID">
                                            <td>@item.ID</td>
                                            <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @if (item.EndDate == null)
                                            {<span>không xác định </span> }
                                            else
                                            {@item.EndDate.Value.ToString("dd/MM/yyyy")}
                                            </td>
                                            <td>
                                                @if (item.TypeH == 1)
                                            { <span>Hợp Đồng 1 Năm </span>}
                                                @if (item.TypeH == 2)
                                            { <span>Hợp Đồng 2 Năm </span>}
                                                @if (item.TypeH == 3)
                                            { <span>Hợp Đồng 3 Năm </span>}
                                                @if (item.TypeH == 4)
                                            { <span>Hợp Đồng Thử Việc</span>}
                                                @if (item.TypeH == 5)
                                            { <span>Hợp Đồng Thời Vụ</span>}
                                                @if (item.TypeH == 6)
                                            { <span>Hợp Đồng Không Xác Định Thời Hạn </span>}
                                            </td>
                                            <td width="60px">@if (item.TypeH == 4){<a href="/HDLD/Print?id=@item.ID"><i class="fa fa-print" aria-hidden="true" style="font-size: 30px;"></i></a>}</td>
                                            <td width="60px">@Html.Raw(item.Signed ? "<span class='fa fa-check fa-2x'></span>" : "<span class='fa fa-times fa-2x'></span>")</td>

                                        </tr>
                                }


                                </tbody>
                            </table>
                            <center> <a class="btn btn-success" href="/HDLD/CreateHD/@maHDLD@Model.ID">Làm Hợp Đồng</a></center>

                        </div>

                    </div>
                    <!--------------------------Thông Tin HDLD của Nhân Viên ------------------------------->
                    <!--------------------------Thông Tin Năng Lực của Nhân Viên ------------------------------->
                    <div class="tab-pane fade" id="profile">

                        <div class="table-responsive">
                            <p></p>
                            <center>
                                <a class="btn btn-success themkynang" href="#" data-toggle="modal" data-target="#adModal">Thêm Kỹ Năng</a>
                                @*  <a href="#" class="themgia" data-idcom="@item.ID" data-levels="@item.Level2" data-toggle="modal" data-target="#upModal" title="Cập Nhật"> <span class="glyphicon glyphicon-pencil"></span></a>*@
                            </center>
                            <p></p>
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên Kỹ Năng</th>
                                        <th>Mức độ kỹ năng cần đạt được</th>
                                        <th>Mức độ kỹ năng đã đạt được</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in listCompetence)
                                {
                                        <tr id="row_@item.CompetenceName">
                                            <td>@item.CompetenceName</td>
                                            <td>@item.Level1</td>
                                            @if (item.Level2 >= item.Level1)
                                        {
                                            if (item.Level2 == item.Level1)
                                            {
                                                <td>@item.Level2 - <a href="#" class="themgia" data-idcom="@item.ID" data-levels="@item.Level2" data-toggle="modal" data-target="#upModal" title="Cập Nhật"> <span class="glyphicon glyphicon-pencil"></span></a></td>
                                            }
                                            else
                                            {
                                                <td style="background: #8BC34A;">@item.Level2 - <a href="#" class="themgia" data-idcom="@item.ID" data-levels="@item.Level2" data-toggle="modal" data-target="#upModal" title="Cập Nhật"> <span class="glyphicon glyphicon-pencil"></span></a></td>
                                            }


                                        }
                                        else
                                        {
                                                <td style="background: #F44336; ">@item.Level2- <a href="#" class="themgia" data-idcom="@item.ID" data-levels="@item.Level2" data-toggle="modal" data-target="#upModal" title="Cập Nhật"> <span class="glyphicon glyphicon-pencil"></span></a></td>
                                        }
                                        </tr>
                                }


                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!--------------------------Thông Tin Năng Lực của Nhân Viên ------------------------------->
                    <!--------------------------Thông Tin Công Cụ Dụng Cụ của Nhân Viên ------------------------------->
                    <div class="tab-pane fade" id="messages">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Mã Vật Tư</th>
                                        <th>Tên Vật tư / Số lượng</th>
                                        <th>Ghi Chú</th>
                                        <th>Ngày cấp</th>
                                        <th>Ngày Hết HSD</th>
                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in listTool)
                                {
                                        <tr id="rowtool_@item.ID">
                                            <td>@item.ID</td>
                                            <td>@item.IDIte</td>
                                            <td>@item.ItemName (SL: @item.Quantity)</td>
                                            <td>@item.Note</td>
                                            <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @if (item.EndDate == null)
                                            {<span>không xác định </span> }
                                            else
                                            {@item.EndDate.Value.ToString("dd/MM/yyyy")}
                                            </td>
                                            <td>
                                                <a href="#" class="edittool" id="edittool" data-id="@item.ID" data-idper="@item.IDPer" data-toggle="modal" data-target="#edittoolModal">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a href="#" class="deletetool" id="deletetool" data-id="@item.ID" data-toggle="modal" data-target="#deletetoolModal">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </td>
                                        </tr>
                                }
                                </tbody>
                            </table>
                            <center> 
                                <a class="btn btn-primary" data-toggle="modal" data-target="#toolModal">Thêm Công Cụ Dụng Cụ</a>
                                <a class="btn btn-success" href="/Personal/PrintTool?idper=@Model.ID">In Biên Bản Bàn Giao</a>
                            </center>
                        </div>
                        <div class="tab-pane fade" id="settings">
                            <h4>đang cập nhật hệ thống</h4>
                        </div>
                    </div>
                    <!--------------------------Thông Tin Công Cụ Dụng Cụ của Nhân Viên ------------------------------->

                    <!--------------------------Thông Tin Đào Tạo của Nhân Viên ------------------------------->
                    <div class="tab-pane fade" id="daotao">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Hình thức</th>
                                        <th>Nội dung</th>
                                        <th>Ngày đào tạo</th>
                                        <th>Thời gian</th>
                                        <th>Người giảng dạy</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in listTraining)
                                    {
                                        <tr id="row_@item.ID">
                                            <td>
                                                @if (item.Type == 1)
                                                {
                                                    <span><i class="fa fa-graduation-cap text-dark"> nội bộ</i> </span>

                                                }
                                                else
                                                {
                                                    <span><i class="fa fa-graduation-cap text-dark">bên ngoài</i> </span>
                                                }

                                            </td>
                                            <td><a href="/Training/Edit/@item.ID"> <span class="text">@item.Name</span></a></td>
                                            <td>
                                                <span class="badge badge-success"><i class="fa fa-calendar"></i>@item.StartDate.Value.ToString("dd/MM/yyyy") </span>
                                            </td>
                                            <td>
                                               <span class="badge badge-dark"><i class="fa fa-clock-o"></i>@item.Time tiếng </span>
                                            </td>
                                            <td ><span class="badge badge-warning float-right"><i class="fa fa-user"></i> @item.TeacherName </span></td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                     

                        </div>

                    </div>
                    <!--------------------------Thông Tin Đào Tạo của Nhân Viên ------------------------------->
                </div>
            </div>
        </div>
     </div>
 <!--------------------------Thông Tin Nâng Cao của Nhân Viên ------------------------------->  
        <!--------------------------Modal Nghỉ Việc ------------------------------->
        <form id="myForm" method="post">
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" style="width:20px">&times;</button>
                            <h4 class="modal-title">Thông tin nghỉ việc</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class='col-md-12'>
                                    <label class="control-label">Lý Do Nghỉ</label>
                                    <textarea class="form-control" data-val="true" id="reason" name="reason" placeholder=" " rows="4"></textarea>
                                </div>
                                <div class='col-md-6'>
                                    <label class="control-label">Ngày chính thức nghỉ</label>
                                    <div class="input-group date" id="date">
                                        <input class="form-control" data-val="true" id="enddate" name="enddate" placeholder=" " type="text" value=""><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" id="createBB" class="btn-cancel" data-id="@Model.ID" style="background: red;  padding: 7px;  color: white;">Cập Nhật</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--------------------------Modal Nghỉ Việc ------------------------------->
        <!--------------------------Modal Update Năng Lực ------------------------------->
        <form id="myForm" method="post">
            <div class="modal fade" id="upModal" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" style="width:20px">&times;</button>
                            <h4 class="modal-title">Cập nhật thông tin</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class='col-md-6'>
                                    <label class="control-label">Điểm</label>
                                    <input class="form-control" data-val="true" id="levels" name="levels" placeholder=" " type="number" value="1">
                                </div>
                                <div class='col-md-6'>
                                    <label class="control-label">Thời gian</label>
                                    <div class="input-group date" id="dateup">
                                        <input class="form-control" data-val="true" id="completedate" name="completedate" placeholder=" " type="text" value=""><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" id="createCC" class="updatecompetence" data-idper="@Model.ID" style="background: red;    padding: 7px;  color: white;">Lưu thông tin</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <!--------------------------Modal Update Năng Lực ------------------------------->
        <!--------------------------Modal Add Năng Lực ------------------------------->
        <form id="myForm" method="post">
            <div class="modal fade" id="adModal" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" style="width:20px">&times;</button>
                            <h4 class="modal-title">Cập nhật thông tin</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class='col-md-6'>
                                    <label class="control-label">Tên Kỹ Năng</label>
                                    <select class="form-control" id="idcoms" name="idcoms">
                                        @*<option value="none">Chọn Kỹ Năng</option>*@
                                        @foreach (var item in listSkill)
                                    {
                                            <option value="@item.ID">
                                                @item.Name
                                            </option>
                                    }

                                    </select>
                                </div>
                                <div class='col-md-2'>
                                    <label class="control-label">Điểm</label>
                                    <input class="form-control" data-val="true" id="levelss" name="levelss" placeholder=" " type="number" value="1">
                                </div>
                                <div class='col-md-4'>
                                    <label class="control-label">Thời gian</label>
                                    <div class="input-group date" id="datead">
                                        <input class="form-control" data-val="true" id="completedates" name="completedates" placeholder=" " type="text" value=""><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a href="#" id="createDD" class="addcompetence" data-idpers="@Model.ID" style="background: red;    padding: 7px;  color: white;">Lưu thông tin</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <!--------------------------Modal Add Năng Lực ------------------------------->
        <!--------------------------Modal Edit Công Cụ Dụng Cụ ------------------------------->
        <form id="myForm" method="post">
            <div class="modal fade" id="edittoolModal" role="dialog">
                <div class="modal-dialog">


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class='col-md-6'>
                                    <label class="control-label">Mã Nhân Viên</label>
                                    <input class="form-control" data-val="true" id="manv" name="manv" placeholder=" " type="text">
                                </div>
                                <div class='col-md-6'>
                                    <label class="control-label">Ngày Hết Hạn</label>
                                    <div class="input-group date" id="hethsds">
                                        <input class="form-control" data-val="true" id="hethsd" name="hethsd" placeholder=" " type="text" value=""><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <div class='col-md-12'>
                                    <label class="control-label">Ghi chú</label>
                                    <input class="form-control" data-val="true" id="ghichu" name="ghichu" placeholder=" " type="text" value="">
                                </div>
                            </div>
                        </div>



                        <div class="modal-footer">
                            <a href="#" id="eidttoolsumit" class="btnedittool" data-id="" style="background: red;    padding: 7px;  color: white;">Đồng ý</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <!--------------------------Modal Edit Công Cụ Dụng Cục ------------------------------->
        <!--------------------------Modal Delete Công Cụ Dụng Cụ ------------------------------->
        <form id="myForm" method="post">
            <div class="modal fade" id="deletetoolModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h4 class="modal-title">Bạn có chắc muốn xóa dữ liệu này</h4>
                        </div>
                        <div class="modal-footer">
                            <a href="#" id="deletetoolsumit" class="btndeletetool" data-id="" style="background: red;    padding: 7px;  color: white;">Đồng ý</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--------------------------Modal Delete Công Cụ Dụng Cụ------------------------------->
        <!--------------------------Modal Add Công Cụ Dụng Cụ ------------------------------->
        <form id="myForm" method="post">
            <div class="modal fade" id="toolModal" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" style="width:20px">&times;</button>
                            <h4 class="modal-title">Thêm công cụ dụng cụ cho nhân viên này</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">Tìm tên vật tư</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control tenvt" id="tenvt" placeholder="chỉ hiện 20 kết quả gần giống nhất">
                                            <span class="input-group-addon btnFindVT" id="btnFindVT">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class=" col-md-6">
                                        <label class="control-label">Chọn vật tư</label>
                                        <div class='input-group'>
                                            @Html.DropDownList("itemid", listVT, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class='col-md-2'>
                                        <label class="control-label">SL</label>
                                        <input class="form-control" data-val="true" id="quantity1" name="quantity1" placeholder=" " type="number" value="">
                                    </div>
                                    <div class='col-md-5'>
                                        <label class="control-label">Ngày Cấp</label>
                                        <div class="input-group date" id="startdate">
                                            <input class="form-control" data-val="true" id="startdate1" name="startdate1" placeholder=" " type="text" value=""><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                    <div class='col-md-5'>
                                        <label class="control-label">Ngày Hết Hạn</label>
                                        <div class="input-group date" id="enddates">
                                            <input class="form-control" data-val="true" id="enddate1" name="enddate1" placeholder=" " type="text" value=""><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-12'>
                                    <label class="control-label">Ghi chú</label>
                                    <input class="form-control" data-val="true" id="note1" name="note" placeholder=" " type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" id="createrr" class="btn-addtool" data-idper="@Model.ID" style="background: red;    padding: 7px;  color: white;">Lưu thông tin</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--------------------------Modal Add Công Cụ Dụng Cụ ------------------------------->

       
