@model Model.View.HumanResource
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Theme3.cshtml";

    double countStart = Model.HumanStart.Count();
    double countNow = Model.HumanNow.Count();
    double countEnd = Model.HumanEnd.Count();

    int count = 0;
    int count1 = 0;
    foreach (var item in Model.HumanEnd)
    {
        if (item.StartDate.Value.AddDays(30) > item.EndDate.Value)
        { count = count + 1; }
        if (item.GroupID2 == "10" || item.GroupID2 == "11")
        { count1 = count1 + 1; }
    }
    int count2 = 0;
    foreach (var item in Model.HumanStart)
    {
        if (item.EndDate != null)
        {
            if (item.EndDate.Value.Month == ViewBag.month && item.EndDate.Value.Year == ViewBag.year)
            {
                count2 = count2 + 1; 
            }
        }
    }

}


<div class="row">
    <div class="col-md-12">
        <div class="card card-success card-outline">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-clipboard"></i>Thống Kê Nhân Viên Nghỉ Việc Tháng @ViewBag.month / @ViewBag.year</h3>

                <div class="card-tools">

                    <div class="btn-group" style="height:40px">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-file-excel-o"></i>
                        </button>
                        <div class="dropdown-menu float-right" role="menu">
                            <a class="dropdown-item" href="/Personal/BirthDay?month=@DateTime.Now.Month">DS Sinh Nhật Tháng</a>
                            <a class="dropdown-item" href="/Personal/HumanResource?month=@DateTime.Now.Month&year=@DateTime.Now.Year">Tăng Giảm Nhân Sự</a>
                            <a class="dropdown-item" href="/Personal/Report1">Biến Động Nhân Sự</a>
                            <a class="dropdown-item" href="/Personal/ReportLeave/?year=@DateTime.Now.Year&month=@DateTime.Now.AddMonths(-1).Month">Thống kê nhân sự nghỉ việc</a>
                            <a class="dropdown-item" href="/Personal/AcademicLevel">Trình Độ Học Vấn</a>
                            <a class="dropdown-item" href="/Personal/GroupID2">Thống Kê Phân Nhóm</a>
                            <a class="dropdown-item" href="/Personal/GroupID">Thống Kê Bộ Phận</a>
                            <a class="dropdown-item" href="/Personal/ReportCompetence">Thống Kê Năng Lực</a>
                            <a class="dropdown-item" href="/Personal/ExportInputData" target="_blank">InputData</a>
                            <a class="dropdown-item" href="/Personal/ReportToolUseToBe">Công Cụ Dụng Cụ</a>
                        </div>
                    </div>
                    <div style="float:left">
                        @using (Html.BeginForm("HumanResource", "Personal", FormMethod.Get))
                        {
                            <div class="input-group " style="width: 300px;">
                                <input type="number" value="@ViewBag.month" name="month" max="12" min="1" step="1" class="form-control float-right" style="background: #e6c5c8; font-weight: bold;">
                                <input type="number" value="@ViewBag.year" name="year" max="@DateTime.Now.Year" min="2017" step="1" class="form-control float-right" style="background: #e6c5c8; font-weight: bold;">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="card-body">
                <center><h1> DANH SÁCH TĂNG GIẢM NHÂN SỰ THÁNG @ViewBag.month</h1></center>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary">Số lượng nhân viên vào làm trong tháng <span class="badge">@countStart</span></button>

                    </div>
                </div>
                <div class="row"><p style="color: red; text-align: center;">Note: dòng màu vàng là những người đã nghỉ ngay trong tháng vào làm - (gồm @count2 người ) đang chiếm tỉ lệ @( Math.Round((count2 * 100 / countStart), 2)) %</p></div>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã NV</th>
                                <th>Họ Tên</th>
                                <th>Bộ phận </th>
                                <th>Nhóm </th>
                                <th>Chức Vụ</th>
                                <th>Ngày Vào làm</th>
                                <th>Ngày Nghỉ Việc</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.HumanStart)
                            {
                                if (item.EndDate != null)
                                {
                                    if (item.EndDate.Value.Month == ViewBag.month && item.EndDate.Value.Year == ViewBag.year)
                                    {
                                        <tr id="row_@item.ID" style=" background: #FFEB3B;">
                                            <td>@item.ID</td>
                                            <td>@item.Name</td>
                                            <td>@item.GroupName</td>
                                            <td>@item.GroupID2</td>
                                            <td>@item.Position</td>
                                            @if (item.StartDate == null)
                                            {
                                                <td>chưa có</td>
                                            }
                                            else
                                            {
                                                <td>@item.StartDate.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            <td>
                                                @if (item.EndDate != null)
                                                {
                                                    @item.EndDate.Value.ToString("dd/MM/yyyy")
                                                }
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr id="row_@item.ID">
                                            <td>@item.ID</td>
                                            <td>@item.Name</td>
                                            <td>@item.GroupName</td>
                                            <td>@item.GroupID2</td>
                                            <td>@item.Position</td>
                                            @if (item.StartDate == null)
                                            {
                                                <td>chưa có</td>
                                            }
                                            else
                                            {
                                                <td>@item.StartDate.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            <td>
                                                @if (item.EndDate != null)
                                                {
                                                    @item.EndDate.Value.ToString("dd/MM/yyyy")
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="row_@item.ID">
                                        <td>@item.ID</td>
                                        <td>@item.Name</td>
                                        <td>@item.GroupName</td>
                                        <td>@item.GroupID2</td>
                                        <td>@item.Position</td>
                                        @if (item.StartDate == null)
                                        {
                                            <td>chưa có</td>
                                        }
                                        else
                                        {
                                            <td>@item.StartDate.Value.ToString("dd/MM/yyyy")</td>
                                        }
                                        <td>
                                            @if (item.EndDate != null)
                                            {
                                                @item.EndDate.Value.ToString("dd/MM/yyyy")
                                            }
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary">Số lượng nhân viên nghỉ việc trong tháng<span class="badge">@countEnd</span></button>

                    </div>
                </div>
                <div class="row">
                    <p style="color: red; text-align: center;">Note: dòng màu cam là những người chưa làm đủ 30 ngày đã nghỉ - (gồm @count người ) đang chiếm tỉ lệ @( Math.Round((count * 100 / countEnd), 2)) %</p>
                    <p style="color: red; text-align: center;">Note: Tỉ lệ công nhân nghỉ việc so với tổng nhân viên có lương trong tháng chiếm @( Math.Round((countEnd * 100 / countNow), 2)) %</p>
                    <p style="color: red; text-align: center;">Note: Tỉ lệ công nhân thuộc nhóm 10 hoặc 11 chiếm @( Math.Round((count1 * 100 / countEnd), 2)) %</p>

                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã NV</th>
                                <th>Họ Tên</th>
                                <th>Bộ phận </th>
                                <th>Nhóm</th>
                                <th>Chức Vụ</th>
                                <th>Ngày Vào Làm</th>
                                <th>Ngày Nghỉ Việc</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.HumanEnd)
                            {

                                if (@item.StartDate.Value.AddDays(30) > item.EndDate.Value)
                                {
                                    <tr id="row_@item.ID" style=" background: #FF9800;">
                                        <td>@item.ID</td>
                                        <td>@item.Name</td>
                                        <td>@item.GroupName</td>
                                        <td>@item.GroupID2</td>
                                        <td>@item.Position</td>
                                        <td>
                                            @if (item.StartDate != null)
                                            {
                                                @item.StartDate.Value.ToString("dd/MM/yyyy")
                                            }
                                        </td>
                                        @if (item.EndDate == null)
                                        {
                                            <td>chưa có</td>
                                        }
                                        else
                                        {
                                            <td>@item.EndDate.Value.ToString("dd/MM/yyyy")</td>
                                        }
                                    </tr>
                                }
                                else
                                {
                                    <tr id="row_@item.ID">
                                        <td>@item.ID</td>
                                        <td>@item.Name</td>
                                        <td>@item.GroupName</td>
                                        <td>@item.GroupID2</td>
                                        <td>@item.Position</td>
                                        <td>
                                            @if (item.StartDate != null)
                                            {
                                                @item.StartDate.Value.ToString("dd/MM/yyyy")
                                            }
                                        </td>
                                        @if (item.EndDate == null)
                                        {
                                            <td>chưa có</td>
                                        }
                                        else
                                        {
                                            <td>@item.EndDate.Value.ToString("dd/MM/yyyy")</td>
                                        }
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary">Tổng số nhân viên có lương trong tháng <span class="badge">@countNow</span></button>

                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã NV</th>
                                <th>Họ Tên</th>
                                <th>Bộ phận </th>
                                <th>Chức Vụ</th>
                                <th>Ngày Vào làm</th>
                                <th>Ngày làm chính thức</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.HumanNow)
                            {
                                <tr id="row_@item.ID">
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.GroupName</td>
                                    <td>@item.Position</td>
                                    @if (item.StartDate == null)
                                    {
                                        <td>chưa có</td>
                                    }
                                    else
                                    {
                                        <td>@item.StartDate.Value.ToString("dd/MM/yyyy")</td>
                                    }
                                    @if (item.EndTryDate == null)
                                    {
                                        <td>chưa có</td>
                                    }
                                    else
                                    {
                                        <td>@item.EndTryDate.Value.ToString("dd/MM/yyyy")</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>



