@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Theme1.cshtml";
    List<Model.View.PersonalToolView2> reportall = ViewBag.reportall;
    List<string> reportgroup = ViewBag.reportgroup;
    int tongvt = 0;
}

<div class="row">
    @if(reportgroup != null)
    { 
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Danh Sách Dụng Cụ Văn Phòng Còn Xài Được --> <a href="../../Personal/ReportToolUseAll">Xem Tất Cả</a> 
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <a href="../../Personal/ReportDongPhuc">Xem Tất Cả Nhân Viên Cần Cấp Đồng Phục</a>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tên Vật Tư</th>
                                    <th>Nhân Viên đang giữ</th>
                                    <th>Số lượng</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in reportgroup)
                                {
                                    tongvt = 0;
                                        <tr id="row_ccdc">
                                            <td>@item</td>
                                            <td>
                                                @foreach (var temp in reportall)
                                                {
                                                    if (temp.ItemName == item)
                                                    {
                                                        if(temp.PerStatus==true)
                                                        {
                                                            <a href="../../Personal/Edit/@temp.IDPer">
                                                            <span style="margin:3px;" class="label label-success" data-toggle="tooltip" title="Nhân viên: @temp.PerName - Ngày cấp: @temp.StartDate.ToString("dd/MM/yyyyy")- SL: @temp.Quantity  - ghi chú:: @temp.Note">@temp.IDPer </span>
                                                        </a>
                                                        tongvt = tongvt + temp.Quantity;
                                                        }
                                                        else
                                                        {
                                                            <a href="../../Personal/Edit/@temp.IDPer">
                                                            <span style="margin:3px;" class="label label-danger" data-toggle="tooltip" title="Nhân viên: @temp.PerName - Ngày cấp: @temp.StartDate.ToString("dd/MM/yyyyy")- SL: @temp.Quantity  - ghi chú:: @temp.Note">@temp.IDPer </span>
                                                        </a>
                                                        }
                                                        
                                                    }
                                                }
                                            </td>
                                            <td>@tongvt</td>
                                        </tr>                                   
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>bạn không có chức năng này</p>
    }
</div>
