@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Theme1.cshtml";
    IEnumerable<Model.View.PersonalToolView> reportall = ViewBag.reportall;
    int stt = 1;
    int somi=0;int thunCNS=0;int thunCNM=0;int thunCNL=0;int thunCNXL=0;int thunCNXXL=0;
    
    int thunQLS=0;int thunQLM=0;int thunQLL=0;int thunQLXL=0;int thunQLXXL=0;
    
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh Sách Nhân Viên Chưa Cấp Đồng Phục
            </div>
            <div class="panel-body">
                <script>
                    function exportTableToExcel(tableID, filename) {
                        var downloadLink;
                        var dataType = 'application/vnd.ms-excel';
                        var tableSelect = document.getElementById(tableID);
                        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
                        filename = filename ? filename + '.xls' : 'excel_data.xls';
                        downloadLink = document.createElement("a");
                        document.body.appendChild(downloadLink);
                        if (navigator.msSaveOrOpenBlob) {
                            var blob = new Blob(['\ufeff', tableHTML], {
                                type: dataType
                            });
                            navigator.msSaveOrOpenBlob(blob, filename);
                        } else {
                            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
                            downloadLink.download = filename;
                            downloadLink.click();
                        }
                    }
                </script>

                <center>
                    <button type="button" class="btn btn-link" style="background: #F44336; padding: 8px; color: white;" onclick="exportTableToExcel('inputdata', 'dongphuccancap')">Export To Excel File</button>
                </center>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="inputdata">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên Nhân Viên</th>
                                <th>Mã NV</th>
                                <th>Mã VT</th>
                                <th>Tên Vật Tư</th>
                                <th>Ghi Chú</th>
                                <th>Ngày cấp</th>
                                <th>Ngày Hết HSD</th>
                                <th>Số Lượng</th>
                                <th>Bộ Phận</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in reportall)
                            {
                                <tr id="rowtool">
                                    <td>@stt</td>
                                    <td>@item.PersonalName</td>
                                    <td>@item.IDPer</td>
                                    <td>@item.IDIte</td>
                                    <td>@item.ItemName</td>
                                    <td>@item.Note </td>
                                    <td> @item.StartDate </td>
                                    <td>@item.EndDate </td>
                                    <td>@item.Quantity</td>
                                    <td>@item.GroupName</td>
                                </tr>
                                if (item.IDIte == "DC-92-070") { somi = somi + 3; }
                                if (item.IDIte == "DC-92-067") { thunCNS = thunCNS + 3; }
                                if (item.IDIte == "DC-92-102") { thunCNM = thunCNM + 3; }
                                if (item.IDIte == "DC-92-103") { thunCNL = thunCNL + 3; }
                                if (item.IDIte == "DC-92-104") { thunCNXL = thunCNXL + 3; }
                                if (item.IDIte == "DC-92-105") { thunCNXXL = thunCNXXL + 3; }
                                if (item.IDIte == "DC-92-106") { thunQLS = thunQLS + 3; }
                                if (item.IDIte == "DC-92-107") { thunQLM = thunQLM + 3; }
                                if (item.IDIte == "DC-92-108") { thunQLL = thunQLL + 3; }
                                if (item.IDIte == "DC-92-109") { thunQLXL = thunQLXL + 3; }
                                if (item.IDIte == "DC-92-110") { thunQLXXL = thunQLXXL + 3; }
                                stt = stt + 1;
                            }

                        </tbody>
                    </table>
                    <h1 style="color:red">THỐNG KÊ SỐ LƯỢNG ĐỒNG PHỤC CẦN CẤP PHÁT</h1>
                    <table>
                        <tr style="color:red; font-size: 18px">
                            <th>Tổng số nhân viên cần cấp đồng phục</th>
                            <th>@(stt-1)</th>
                        </tr>
                        <tr style="color: red; font-size: 18px">
                            <th>Tổng số lượng Áo cần cấp phát</th>
                            <th>@((stt - 1)*3)</th>
                        </tr>
                        <tr style="color:red">
                            <th>Áo Sơ Mi Đồng Phụccần cấp dự kiến</th>
                            <th>@somi</th>
                        </tr>
                        <tr style="color:red">
                            <th>Tổng Số Lượng Áo Thun cần cấp dự kiến</th>
                            <th>@(thunCNS + thunCNM + thunCNL + thunCNXL + thunCNXXL + thunQLS + thunQLM + thunQLL + thunQLXL + thunQLXXL)</th>
                        </tr>
                        <tr style="color:red">
                            <th>Tổng Số Lượng Áo cần cấp chưa rõ loại và Size</th>
                            <th>@( (stt-1)*3 - (thunCNS + thunCNM + thunCNL + thunCNXL + thunCNXXL + thunQLS + thunQLM + thunQLL + thunQLXL + thunQLXXL))</th>
                        </tr>
                        <tr>
                            <th>Áo Thun Đồng Phục Công Nhân Size S  dự kiến</th>
                            <th>@thunCNS</th>
                        </tr>
                        <tr>
                            <th>Áo Thun Đồng Phục Công Nhân Size M  dự kiến</th>
                            <th>@thunCNM</th>
                        </tr>
                        <tr>
                            <th>Áo Thun Đồng Phục Công Nhân Size L dự kiến</th>
                            <th>@thunCNL</th>
                        </tr>
                        <tr>
                            <th>Áo Thun Đồng Phục Công Nhân Size XL dự kiến</th>
                            <th>@thunCNXL</th>
                        </tr>
                        <tr>
                            <th>Áo Thun Đồng Phục Công Nhân Size XXL dự kiến</th>
                            <th>@thunCNXXL</th>
                        </tr>
                        <tr>
                            <th>Áo Thun Đồng Phục Quản Lý Size S dự kiến</th>
                            <th>@thunQLS</th>
                        </tr>
                        <tr>
                            <th>Áo Thun Đồng Phục Quản Lý Size M dự kiến</th>
                            <th>@thunQLM</th>
                        </tr>
                        <tr>
                            <th>Áo Thun Đồng Phục Quản Lý Size L dự kiến</th>
                            <th>@thunQLL</th>
                        </tr>
                        <tr>
                            <th>Áo Thun Đồng Phục Quản Lý Size XL dự kiến</th>
                            <th>@thunQLXL</th>
                        </tr>
                        <tr>
                            <th>Áo Thun Đồng Phục Quản Lý Size XXL dự kiến</th>
                            <th>@thunQLXXL</th>
                        </tr>
                        
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
